
*{
  font-size: large;
}
#header{
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;

}

.nav .ul .btn1 .btn2{
     margin: 0;
     padding: 0;
     
     font-family: georgian;
     font-size: large;
     

}
.btn1 {
  margin-top: 2px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20%;  

  
}

.btn2{
  margin-top: 2px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}
.body{
  background-image: url('../images/foto\ de\ plantilla\ de\ musica\ \,acorde.jpg'); 
  background-position: 1em;
  
}

.p{

   font-family: fantasy;
   color: darkmagenta;
   margin-top: 10%;
   padding: 20%;
}

.detalles{
  margin: 10px;
  padding: 5px;
  font-family: cursive;
  color: purple;


}

.footer{
  background-color: tomato;

 

}
     /* Diseño responsivo para tablets */
     @media (max-width: 768px) {
        .header {
          font-size: 24px;
        }
        }
        .nav {
          font-size: 18px;
        }
        
        .content {
          font-size: 12px;
        }
       
        .footer{
          font-size: 12px;
        }
      

        /* Diseño responsivo para celulares */
    @media (max-width: 480px) {
        .header {
          font-size: 20px;
        }
      }
        .nav {
          font-size: 16px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
          
          .content {
            font-size: 12px;
          }
          
          .footer{
            font-size: 12px;
          }
        