*{
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size: large;
}

.btn{
  display: inline-block;
  margin: 20px;
  border: 1px solid black;  
  text-transform: uppercase;
  
}

body{
  background-image: url('../images/foto\ de\ plantilla\ de\ musica\ \,acorde.jpg'); 
  background-position: 1em;
  
}

.footer{
  background-color: tomato;

 

}
     /* Diseño responsivo para tablets */
     @media (max-width: 768px) {
        .header {
          font-size: 24px;
        }
        }
        .nav {
          font-size: 18px;
        }
        
        .content {
          font-size: 12px;
        }
       
        .footer{
          font-size: 12px;
        }
      

        /* Diseño responsivo para celulares */
    @media (max-width: 480px) {
        .header {
          font-size: 20px;
        }
      }
        .nav {
          font-size: 16px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
          
          .content {
            font-size: 12px;
          }
          
          .footer{
            font-size: 12px;
          }
        